{{#> main-template.html.hbs}}
  {{#*inline "title"}}{{post.title}} - {{additionalValues.blogName}}{{/inline}}
  {{#*inline "body"}}
<a href="/">&lt; Back to main page</a>
<article>
  <hgroup>
    <h2>{{post.title}}</h2>
    <div class="date">{{post.pubDate}}</div>
  </hgroup>

  {{> utils/identity.hbs post.content}}
</article>
  {{/inline}}
{{/main-template.html.hbs}}