{{<main-template.html}}
  {{$title}}{{post.title}} - {{additionalValues.blogName}}{{/title}}
  {{$body}}
    <article>
      <hgroup>
        <h1>{{post.title}}</h1>
        {{#post.showPubDate}}
          <div class="date">{{post.pubDate}}</div>
        {{/post.showPubDate}}
      </hgroup>

      {{{post.content}}}
    </article>
  {{/body}}
{{/main-template.html}}