{{#> main-template.html.hbs}}
  {{#*inline "title"}}About {{additionalValues.blogName}}{{/inline}}
  {{#*inline "body"}}
<h2>About Me</h2>
<p>I'm just an example blog, so not much to say</p>
  {{/inline}}
{{/main-template.html.hbs}}